h1{
	font-family: Arial;
	color: red;
}

h2{
	font-family: Impact;
	background-color: gray;
}

h3{
	font-family: Arial;
	color: gray;
}

h4{
	font-family: Impact;
	color: red;
	padding: right;
}

