h1{
	font-family: Arial;
	color: yellow;
	text-align: right;
}

h2{
	text-align: right;
	color: aqua;
}

h3{
	background-color: aqua;
	color: white;
}

h4{
	padding :140px;
	color: yellow;
}